.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-card {
  width: 300px;
  display: inline-block;
  margin: 15px;
  padding: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.App-name {
  color: #222222;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
